{% extends "base.html" %}

{% block title %} Bandwidth Usage {% endblock title %}

{% block content %}
    <div class="container">
        <h2 class="text-center py-4">Bandwidth Usage</h2>

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-stats"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Statistics</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-graph"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Gaph</button>

          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-stats" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
          <div class="tab-pane fade" id="nav-graph" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
        </div>
    </div>

{% endblock %}
