{% extends "base.html" %}

{% block title %}Network Runs {% endblock %}

{% block content %}

    <section class="py-2">
        <div class="container px-4 px-lg-5 mt-2">
        <h2 class="text-center py-4">Network Runs</h2>
            <!-- DataTables Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Network Runs List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                  <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                      <div class="row">
                          <div class="col-sm-12">
                              <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                     cellspacing="0" role="grid" aria-describedby="dataTable_info" style="  Nwidth: 100%;">
                  <thead class="bg-gradient-light">
                    <tr role="row">
                        <th scope="col" class="sorting_asc text-primary" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-sort="ascending text-primary" aria-label="Run: activate to sort column descending">Run</th>
                        <th scope="col" class="sorting_asc text-primary" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-sort="ascending text-primary" aria-label="Date: activate to sort column descending">Date</th>
                        <th scope="col" class="sorting text-primary" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Start: activate to sort column ascending">Start</th>
                        <th scope="col" class="sorting text-primary" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Verbose Level: activate to sort column ascending">Verbose Level</th>
                        <th scope="col" class="sorting text-primary" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Debugging Level: activate to sort column ascending">Debugging Level</th>
                        <th scope="col" class="sorting text-primary" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Finished: activate to sort column ascending">Finished</th>
                        <th scope="col" class="sorting text-primary" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Finished Summary: activate to sort column ascending">Finished Summary</th>
                        <th scope="col" class="sorting text-primary" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Hosts Up: activate to sort column ascending">Hosts Up</th>
                        <th scope="col" class="sorting text-primary" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Hosts Down: activate to sort column ascending">Hosts Down</th>
                        <th scope="col" class="sorting text-primary" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            aria-label="Total Hosts: activate to sort column ascending">Total Hosts</th>
                    </tr>

                  </thead>

                  <tbody>
                    {% for row in rows %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </section>

{% endblock %}
